/*font-family: "Raleway", sans-serif;*/
header {
    background: rgb(192, 191, 192);
    padding: 24px;
    color: rgb(255, 255, 255);
    height: 140px;
    font-style: italic;
}

header h1 {
    display: inline-block;
    position: relative;
    bottom: -10px;
    margin-left: 14px;
    font-family: "Inconsolata", monospace;
    font-size: 40px;
}

footer{
    background-color: rgb(166, 166, 166);
    clear: both;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}