p{
    padding-left: 12px;
    font-family: "Inconsolata", monospace;
    font-size: 18px;
}

.contacto{
    display: flex;
    gap: 24px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
}

.contacto h2 {
    font-family: "Inconsolata", monospace;
    color: rgb(91, 91, 91);
    text-decoration: underline;
    margin-left: 10px;
}

.contacto div{
    width: 100%;
}

.contactos p{
    font-size: 22px;
    margin-left: 29px;
}

.contactos ul li{
    font-size: 20px;
}

 .formulario p{
    font-family: "SUSE", sans-serif;
}

.formulario p label{
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario p input,
.formulario p textarea{
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px 10px;
}

.formulario textarea{
    resize: none;
    height: 150px;
}

.formulario p:nth-child(5){
    align-items: start;
}

.formulario input[type= "reset"],
.formulario input[type= "submit"]{
    background: #6da9ed;
    box-shadow: 0 0 7px #303030;
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
    margin-right: 20px;
}

.formulario input[type= "reset"]:hover,
.formulario input[type= "submit"]:hover {
    background-color: #4b98ef;
}

.lista-de-medios {
    display: flex;
    flex-direction: column;
}

.lista-de-medios li {
    padding-bottom: 10px;
}

.lista-de-medios a {
    text-decoration: none;
    color: #6da9ed;
}

.lista-de-medios a:hover {
    text-decoration: underline;
    color: #4b98ef;
}

.contactos h2 {
    margin-left: 40px;
}

.botones {
    margin-left: -77px;
}