.productosmuebles {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(192, 191, 192);
    width: 75%;
    padding-right: 10px;
}

.productosmuebles img {
    width: 210px;
    height: 210px;
    margin: 10px;
    padding-left: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}

aside {
    width: 25%;
    background-color: rgba(191, 194, 193, 0.875);
    box-sizing: border-box;
    border-left: solid 5px gray;
}

aside p {
    padding-left: 12px;
    font-family: "Inconsolata", monospace;
    font-size: 20px;
}

.contenedor1 {
    color: rgb(1, 1, 1);
    font-size: 20px;
    display: flex;
}