.productosmuebles {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin-left: 15px;
}

.productosmuebles img {
    width: 180px;
    height: 180px;
    margin: 10px;
    padding-left: 15px;
    padding-top: 10px;
    box-sizing: border-box;
}

.productosmuebles .Precio {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-top: -9px;
}

.productosmuebles p {
    font-size: 12px;
    width: 140px;
    padding-left: 55px;
    color: rgb(91, 91, 91);
}

aside {
    width: 30%;
    background-color: rgba(229, 246, 252, 0.875);
    border-left: solid 3px rgb(203, 239, 254);
    height: 950px;
}
 
aside img {
    width: 100px;
    height: 100px;
    margin-bottom: 45px;
    margin-left: 30px;
    margin-right: 0px;
    border-radius: 5px 5px; 
} 

aside a {
    margin-left: 20px;
    padding-right: 20px;
    font-family: "Inconsolata", monospace;
    font-size: 16px;
    text-decoration: none;
    color: rgb(43, 163, 255);
}

aside h3 {
    padding-bottom: 10px;
    margin-left: 70px;
    text-decoration: underline;
    font-weight: 340;
}

.noticia {
    display: flex;
}

.contenedor1 {
    color: rgb(1, 1, 1);
    font-size: 20px;
    display: flex;
    background-color: white;
    margin-bottom: 0px;
}