header {
  padding: 10px 20px; 
  background-color: rgb(218, 243, 255);
  color: rgb(70, 70, 70);
  height: 90px;
}

.header-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

header h1 {
  display: inline-block;
  margin: 0; 
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  font-weight: 100;
}

nav {
  background-color: rgb(177, 221, 255);
  margin-top: -16px;
  height: 30px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  flex-grow: 1;
  font-family: "Inconsolata", monospace;
  display: flex;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  text-align: center;
  transition: background-color 0.7s ease;
}

nav ul li a:hover {
  background-color: rgb(122, 184, 255);
}

footer {
  background-color: rgb(158, 213, 252);
  clear: both;
  color: #404040;
  text-align: center;
  padding: 5px 0;
}

nav ul li a.activo {
  background-color: rgb(122, 184, 255);
}

.holder {
  max-width: 1200px;
  margin: 0% auto;
}

.logo {
  height: auto;
  margin-right: 10px;
}

.social-media {
  margin-left: auto; 
  display: flex;
  flex-direction: column;
}

.social-media a {
  margin-left: 10px;
}

.facebook-img {
  margin-left: 2.6px;
}

.contenedor-img {
  transition: transform 0.4s ease-in-out;
  display: inline-block;
}

.contenedor-img:hover,
.img:hover {
  transform: scale(1.06);
}

.Precio {
  font-weight: bold;
  transition: color 0.4s ease-in-out;
}

.contenedor-img:hover .Precio,
.img:hover + .Precio {
  color: #006ae3;
}